/* GroupsPage.css */

.groups-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(180deg, #114305 0%, #004d40 100%);
  color: white;
  min-height: 100vh;
  padding: 10px 20px;
}

.top-bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.search-bar {
  flex-grow: 1;
  max-width: 300px;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #333;
}

.main-content {
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
  height: 400px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 20px; /* Space below the list before the footer */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.create-group-button {
  order: -1; /* Ensure this button is always to the left */
  background-color: #0288d1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: auto; /* Push the button to the left */
}

.view-admin-groups-button,
.view-member-groups-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px; /* Space between buttons */
}