/* GroupsPage.css */

.groups-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(180deg, #114305 0%, #004d40 100%);
  color: white;
  min-height: 100vh;
  padding: 10px 20px;
}

.top-bar {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}

.search-bar {
  flex-grow: 1;
  max-width: 300px;
  margin-right: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #333;
}

.content-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: start; /* Align the start of the content and side actions */
}

.main-content {
  flex-grow: 1;
  max-width: calc(100% - 240px); /* Adjust the width of the main content based on the width of the side actions */
  height: 650px; /* Fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  margin-bottom: 20px; /* Space below the list before the footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px; /* Add padding between content and buttons */
  margin-top: 30px;
}

.side-actions {
  flex-shrink: 0; /* Prevent side actions from shrinking */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align buttons to the right */
  padding-left: 20px; /* Add padding between content and buttons */
}

.create-group-button {
  margin-bottom: 10px; /* Space between create button and group list */
  align-self: center; /* Center the button */
  font-size: 2em;
}

.view-admin-groups-button,
.view-member-groups-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 10px; /* Space between buttons */
  font-size: 2em;
}
