/* MemberGroupsPage.css */
.member-groups-page {
    padding: 2rem;
    background: linear-gradient(180deg, #114305 32%, #1a1c1a);
    min-height: 100vh; /* Full height of the viewport */
  }
  
  .member-groups-title {
    color: #ffffff; /* Dark grey color for the title */
    margin-bottom: 1rem;
  }
  .member-groups-page h1{
    color: white;
  }
  .member-groups-list {
    list-style: none; /* Remove default list styling */
    padding: 0;
    margin: 0;
    max-width: 500px; /* Set a max-width for the list */
  }
  
  .member-group-item {
    background: linear-gradient(180deg, #666666 0%, #a8a8a8 100%);
    border: 1px solid #ddd; /* Light grey border */
    padding: 1rem;
    margin-bottom: 1rem; /* Add some space between items */
    border-radius: 4px; /* Slightly rounded corners for polish */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    gap: 0.5rem; /* Space between elements */
    cursor: pointer;
  }
  
  .member-group-item:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Slight shadow on hover for interactivity */
  }
  
  .group-name,
  .group-description {
    margin: 0; /* Reset margins */
    font-weight: bold; /* Make text bold */
    color: #020202; /* Slightly darker text for better readability */
  }
  
  .group-description {
    font-weight: normal; /* Regular font weight for description */
    color: #4b4a4a; /* Slightly lighter color for descriptions */
  }
  