/* HomePage.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #114305 32%, #1a1c1a); /* Adjust the color to match the green in your image */
    color: rgb(197, 194, 194);
    font-family: 'Roboto', sans-serif; /* Change to the font that matches your design */
    padding: 0 2rem; /* Add some padding around the content */
}

.home-logo {
    flex-basis: 50%; /* Adjust the width as necessary */
    width: 50rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-logo img {
    width: 60%; /* Make the image fill the container */
    height: auto; /* Keep the aspect ratio of the image */
}

.home-content {
    flex-basis: 50%; /* Adjust the width as necessary */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home-title {
    font-size: 5rem; /* Increased font size */
    margin-bottom: 2rem;
    line-height: 1.5; /* Adjust line height for better readability if needed */
}

.home-button {
    background-color: #0288d1; /* Blue color for the button */
    color: rgb(197, 194, 194);
    border: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 1rem 2rem;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 2.5rem; /* Larger font size for buttons */
    padding: 1.2rem 2.5rem;
    transition: background-color 0.3s ease;
    text-transform: uppercase; /* If you want your buttons text to be uppercase */
}

.home-button:hover {
    background-color: #0277bd; /* Slightly darker blue on hover */
}

/* Additional button styling if needed */
.home-button.secondary {
    background-color: #26a69a; /* Different color for secondary action */
}

.home-button.secondary:hover {
    background-color: #00897b; /* Slightly darker color on hover for secondary action */
}

