/* HomePage.css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #004d40; /* Adjust the color to match the green in your image */
    color: white;
    font-family: 'Arial', sans-serif; /* Change to the font that matches your design */
}

.home-logo {
    font-size: 6rem; /* Adjust the size as needed */
    margin-bottom: 2rem;
}

.home-title {
    font-size: 2.5rem; /* Adjust the size to match your design */
    text-align: center;
    margin-bottom: 2rem;
}

.home-button {
    background-color: #0288d1; /* Blue color for the button */
    color: white;
    border: none;
    border-radius: 4px;
    margin: 0.5rem;
    cursor: pointer;
    font-size: 1.25rem; /* Larger font size for buttons */
    transition: background-color 0.3s ease;
    text-transform: uppercase; /* If you want your buttons text to be uppercase */
}

.home-button:hover {
    background-color: #0277bd; /* Slightly darker blue on hover */
}

/* Additional button styling if needed */
.home-button.secondary {
    background-color: #26a69a; /* Different color for secondary action */
}

.home-button.secondary:hover {
    background-color: #00897b; /* Slightly darker color on hover for secondary action */
}
