.skupiny1 {
  position: absolute;
  top: 0;
  left: calc(50% + 130.5px);
  display: inline-block;
  width: 277px;
  height: 74px;
}
.frame-child1 {
  position: absolute;
  top: 96px;
  left: 292px;
  border-radius: var(--br-3xs);
  background-color: var(--color-gainsboro);
  width: 800px;
  height: 60px;
}
.search-bar {
  position: absolute;
  top: 102px;
  left: 651px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-black);
  text-align: left;
  width: 385px;
}
.frame-child2,
.frame12,
.line-icon {
  position: absolute;
  top: 77px;
  left: 270px;
  width: 841.1px;
  height: 10.6px;
}
.frame-child2,
.frame12 {
  top: 164px;
  width: 841px;
  height: 11px;
}
.frame12 {
  top: 0;
  left: 20px;
  width: 1415px;
  height: 184px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--text);
  font-family: var(--font-roboto);
}
