/* GroupList.css */

.group-list {
  width: 100%;
  max-width: 1200px; /* Set a max-width for the group list container */
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center align the group items */
}

.group-item {
  background-color: #fff; /* For visibility against the gradient background */
  color: #333; /* For better readability */
  padding: 10px;
  margin: 10px 0;
  width: 80%; /* Adjust width as needed */
  max-width: 600px; /* Or whatever maximum width you prefer */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between; /* This separates the group name and the 'Register' button */
  align-items: center;
}
.group-name {
  font-size: 1.5em; /* Adjust font size as needed */
}

.group-register-button {
  padding: 5px 15px;
  background-color: #0288d1; /* Adjust color to fit your design */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.group-register-button:hover {
  background-color: #0277bd; /* Darker shade for hover state */
}
