/* UserProfile.css */
.user-profile {
  flex-shrink: 0; /* Prevent the user profile from shrinking */
  margin-left: 950px; /* Space between search bar and profile display */
  background: #d1d0d0; /* Light background for the user profile */
  padding: 10px 10px; /* Padding inside user profile */
  border-radius: 5px; /* Rounded corners for user profile */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for depth */
}
  
  .user-name {
    font-size: 1.2em; /* Adjust font size as needed */
    margin-right: 5px; /* Spacing between name and button */
    color: #333;
  }
  
  .user-settings-button {
    margin-left: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #0288d1; /* Adjust color to fit your design */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
  }
  
  .user-settings-button:hover {
    background-color: #025d92; /* Darker shade for hover state */
  }
  