/* UserDetailForm.css */
.user-detail-form {
    display: flex;
    flex-direction: column;
    min-width: 900px; /* Adjust the max width as needed */
    margin: 50px right; /* Center form on the page */
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    font-size: 1.2em; /* Size down from 2em */
    margin-right: 10px; /* Consistent margin */
}

.button-container {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    margin-top: 20px;
  }

  .button-container button {
    margin: 0 10px;
  }

.form-row input[type="text"],
.form-row input[type="checkbox"] {
    flex-grow: 1;
    margin-left: 10px; /* Reduced from 100px */
    padding: 10px;
    border: 1px solid #ccc;
    width: calc(100% - 10px); /* Full width minus margin */
}

/* Adjust the margin for specific input fields if needed */
.form-row input[type="text"]:nth-child(1) {
    margin-left: 80px;
}
  
  
  .save-button {
    background-color: #21b84e;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em; /* Adjust as needed */
    margin-top: 20px;
  }
  
  .save-button:hover {
    background-color: rgb(4, 145, 28);
  }

  .logout-button {
    background-color: #0288d1;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em; /* Adjust as needed */
    margin-top: 20px;
  }

  .logout-button:hover{
    background-color: #0277bd;
  }
  
  .user-detail-form-delete-button {
    background-color: #d32f2f; /* Red color for delete button */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em; /* Adjust as needed */
    margin-top: 20px;
    /* ... other styles similar to your save-button but with a red color ... */
  }
  
  .user-detail-form-delete-button:hover {
    background-color: #c62828; /* Darker red for hover state */
  }

  .user-role-display {
    margin-top: 20px; /* Adjust as needed */
    display: flex;
    justify-content: flex-start; /* Align to the start of the container */
  }
  
  .user-role-label {
    font-weight: bold;
    margin-right: 10px; /* Spacing between label and value */
  }
  
  .user-role-value {
    font-size: 1em;
    /* Styling for the role value */
  }

  .admin-redirect-button{
    background-color: rgb(126, 211, 47);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em; /* Adjust as needed */
    margin-top: 20px;
  }