.user-setup-child {
  position: absolute;
  height: 40.8%;
  width: 26.21%;
  top: 0;
  right: 36.9%;
  bottom: 59.2%;
  left: 36.9%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.material-symbolsmenu {
  position: absolute;
  height: 67.7%;
  width: 21.93%;
  top: 16.09%;
  right: 17.38%;
  bottom: 16.21%;
  left: 60.69%;
  overflow: hidden;
}
.user-setup-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-steelblue);
}
.jmno {
  margin: 0;
}
.jmno-pijmen {
  position: absolute;
  height: 87.36%;
  width: 43.34%;
  top: 5.75%;
  left: 6.66%;
  display: inline-block;
}
.vector-icon {
  position: absolute;
  height: 54.02%;
  width: 19.66%;
  top: 22.99%;
  right: 13%;
  bottom: 22.99%;
  left: 67.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.user-setup1 {
  position: absolute;
  height: 50%;
  width: 100%;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
}
.user-setup {
  width: 290px;
  height: 174px;
  text-align: right;
  font-size: var(--font-size-13xl);
  color: var(--text);
  font-family: var(--font-roboto);
}
