@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-29xl: 48px;
  --font-size-21xl: 40px;
  --font-size-45xl: 64px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-black: #000;
  --text: #d2d2d2;
  --color-steelblue: #066c97;
  --color-gainsboro: #d9d9d9;

  /* Paddings */
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
}
